.comingSoon {
    position: relative;
    height: 50rem;

    .image {
        picture img {
            height: 50rem;
            width: 100%;
            object-fit: cover;
        }
    }

    .details {
        // background-color:rgba(0, 0, 0, 0.527);
        width: 100%;
        height: 50rem;
        text-align: center;
        position: absolute;
        top: 0%;
        padding: 0 2rem;

        .header {
            h4 {
                color: var(--primary-color);
                margin-bottom: 2rem;
            }
        }

        .timing {
            margin-top: 2rem;

            gap: 2rem;

            .box {
                box-shadow: 0 0 2px rgba(255, 255, 255);
                backdrop-filter: blur(4rem);
                height: 10rem;
                width: 10rem;
                overflow: hidden;
                border-radius: 10rem;

                span {
                    font-size: 2rem;
                    color: var(--primary-color)
                }
            }
        }
    }
}

@media (max-width:500px) {
    .comingSoon {
        height: 57rem;

        .image {
            picture img {
                height: 57rem;
            }
        }

        .details {
            // background-color:rgba(0, 0, 0, 0.527);
            height: 57rem;

            .timing {
                flex-wrap: wrap;
            }
        }
    }
}