.registerFormContainer {
  height: 100vh;

  .registerForm {
    border-radius: 1.5rem;
    padding: 2rem 1%;
    width: 45rem;
    gap: 1rem;
    background-color: rgba(31, 41, 55);
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.582);


    input {
      height: 4rem;
      width: 40rem;
      padding-left: 1rem;
      font-size: 2rem;
      border-radius: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.582);
    }

    .btnContainer {
      .customContainer {
        height: 4rem;

        .customLoader {
          width: 40px;
          height: 40px;
        }
      }

      .btn {
        transition: all 0s linear;
        width: 40rem;
        border-radius: 0.5rem;
        font-size: 2rem;
        background-color: rgba(31, 41, 55);
        height: 4rem;

        &:hover {
          transition: all .5s ease;
        }
      }
    }

    .continuation {
      gap: 1rem;

      .loginLink {
        text-align: right;
        padding: 0;
        color: var(--primary-color) !important;
      }

      button {
        border: none;
        border-radius: 0.5rem;
        height: 4rem;
        cursor: pointer;
        color: white;
        width: 40rem;

        div:nth-child(1) {
          border-top-left-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          width: 5rem;
          line-height: 4rem !important;
          font-size: 2rem;
        }

        div:nth-child(2) {
          text-align: center;
          width: 100%;
          font-size: 2rem;
        }
      }
    }

  }
}

@media (max-width:480px) {

  .registerFormContainer .registerForm {
    width: 38rem;

    .errorContainer {
      margin: 1rem 0 .5rem;
      padding: 1rem 2% !important;
      background-color: black;
      color: red;
      width: 34rem;
      border-radius: 0.5rem;

      p {
        text-align: left;
        font-size: 2rem;
      }
    }

    input,
    .btnContainer .btn,
    .continuation button {
      width: 34rem !important;

    }
  }
}