.nav {
  padding: 3rem 6% !important;
  height: 10vh;
  position: fixed;
  top: 0;
  bottom: 0;
  align-items: center;
  z-index: 500;
  right: 0;
  left: 0;
  background-color: rgba(31, 41, 55, 0.3);
  backdrop-filter: blur(3rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .links {
    gap: 2rem;

    a:hover {
      color: #3498db;
      transition: all 1s ease;
    }
  }

  .icons {
    display: flex;
    gap: 2.5rem;

    .user {
      position: relative;
      border-radius: 2px;
   


      .userContainer {
        &.active{
          display: flex;
        }
      display: none;
        width: 15rem;
        padding: 1rem 4% 0;
        border-radius: 1rem;
        gap: .5rem;
        background-color: rgba(4, 12, 24, 0.884);
        z-index: 200;
        box-shadow: 0 0 5px var(--primary-color);
        position: absolute;
        top: 5rem;
        right: -5rem;
        border: 1px solid var(--primary-color);

        .btn {
          height: 4rem;
          width: 15rem;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }

        p:nth-child(1) {
          text-transform: uppercase;

          font-size: 3rem;
          text-align: center;
          // padding: 1.3rem;
          width: 7rem;
          height: 7rem;
          // background-color: random-color();
          border: 1px solid white;
          border-radius: 50%;
        }
      }
    }

    .fa {
      cursor: pointer;
      font-size: 2.5rem;
    }

    .cartIcon,
    .likedIcon {
      position: relative;
      cursor: pointer;

      div:nth-child(2) {
        z-index: 1;
        // background-color: #3498db;
        background: linear-gradient(45deg, rgb(50, 108, 163), rgb(9, 43, 78));
        text-align: center;
        box-shadow: 0 0 4px rgba(255, 255, 255, 0.39);
        width: 2rem;
        font-size: 1.5rem;
        line-height: 2rem;
        border-radius: 2rem;
        position: absolute;
        top: -1rem;
        right: -1rem;
      }
    }

    .fa-bars,
    .fa-times {
      display: none;
    }
  }

  .likedItemsSection {

    position: fixed !important;
    background-color: rgba(31, 41, 55, 0.925);
    backdrop-filter: blur(3rem);
    height: 100vh;
    width: 100%;
    left: 200rem;
    z-index: 300;
    top: 0;
    display: flex;
    justify-content: flex-end;
    transition: all 1s ease;

    .emptyLikeContainer {
      height: 100vh;
      width: 100%;
    }

    &.active {
      left: 0;
    }

    .fatty {
      position: fixed;
      top: 0;
      left: 0;
      height: inherit;

      .fa-times {
        position: sticky;
        padding: 1rem;
        top: 0;
        cursor: pointer;
        font-size: 3rem;
      }
    }

    .likedItemsContainer {
      width: 40rem;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      background-color: rgb(31, 41, 55);

      .likedItems {
        padding: 1rem 4%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.185);
        background-color: rgb(31, 41, 55);
        gap: 1rem;

        .image picture img {
          height: 8rem;
          width: 10rem;
        }

        p {
          text-align: center;
          font-size: 2rem;
        }

        button {
          font-size: 1.4rem;
          background-color: red;
          height: 3rem;
          cursor: pointer;
          transition: all 0.5s ease;
          padding: 0 1rem;
          color: white;
          border: 1px solid transparent;
        }

        button:hover {
          color: red;

          background-color: transparent;
          border: 1px solid red;
        }
      }
    }

  }
}

.nav.activeTwo {
  height: 8vh;
  padding: 2rem 6% !important;
  transition: all 2s ease;
}

@media (max-width: 830px) {

  .nav {
    .links {
      position: absolute;
      top: 100%;
      align-items: center;
      display: flex;
      transition: all 1s ease;
      right: -60rem;
      backdrop-filter: blur(40px) !important;
      background-color: rgba(31, 41, 55, 0.95) !important;
      box-shadow: -1px 5px 4px rgba(255, 255, 255, 0.842);
      width: 50%;
      height: 100vh;
      gap: 4rem;
      flex-direction: column;
      justify-content: center;

      a {
        font-size: 3rem;
      }
    }

    .fa-bars,
    .fa-times {
      display: block !important;
    }
  }

  .nav.active .links {
    right: 0;
  }
}