.overviewProductsContainer {
  padding: 6rem 4% 2rem;

  .overviewProducts {
    gap:1rem 2rem;

    .overView {
      margin-top: 1.5rem;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.582);
      padding: 1rem;
      background-color: rgba(31, 41, 55, 0.2) !important;
      border-radius: 0.5rem;
      .image picture img {
        height: 25rem;
        width: 27rem;
      }

      .details {
        padding: 2rem 0 0rem;

        a {
         height: 4rem;
          display: inline-flex;
          align-items: center;
          padding: 0 1.5rem;
          border-radius: 5px;
          cursor: pointer;
        }

        p:nth-child(2) {
          padding: 0.5rem 0 0.8rem;
          color: rgb(52, 152, 219);
        }
      }
    }
  }
}

.btn {
  display: block;
  color: white;
  border: none;
  border: 0.1rem solid rgba(205, 170, 124, 0.2);
  background: linear-gradient(45deg, rgb(50, 108, 163), rgb(9, 43, 78));
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn:before {
  content: "";
  width: 100%;
  height: inherit;
  background: #157ed2;
  z-index: -1;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 0.5s;
}

.btn:hover.btn:before {
  left: 0;
}
