:root {
  --primary-color: rgb(52, 152, 219);
  --bg-color:rgba(31, 41, 55);
}
body {
  font-family: sans-serif, Poppins;
  color: white;
  background-color: rgba(31, 41, 55);
}

a {
  color: white !important;
}

