:root {
  --primary-color: rgb(52, 152, 219);
  --bg-color: rgba(31, 41, 55);
}

body {
  font-family: sans-serif, Poppins;
  color: white;
  background-color: rgba(31, 41, 55);
}

a {
  color: white !important;
}

.fa-check {
  color: var(--primary-color);
}

.authInfoContainer {
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.gmail {
  background-color: rgba(255, 0, 0, 0.521) !important;

  div:nth-child(1) {
    padding: 0 1rem;
    background-color: rgba(220, 20, 60, 0.692);
  }
}

.twitter {
  background-color: var(--primary-color);

  div:nth-child(1) {
    padding: 0 1rem;
    background-color: rgb(16, 107, 172) !important;
  }
}
::-webkit-scrollbar-track{
  background-color: rgb(16, 107, 172) !important;
  color: rgb(16, 107, 172) !important;
  width: 1rem;

}